/*
* @Author: lenovo
* @Date:   2018-08-16 22:10:38
* @Last Modified by:   lenovo
* @Last Modified time: 2018-08-17 00:11:11
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}
.top{
	width: 100%;
	height: 0.9rem;
	background: #3ee7a4;
	padding-right: 0.24rem;
	text-align: center;
	line-height: 1rem;
}
.top .one{
	width: 0.5rem;
	height: 0.5rem;
	position: fixed;
	top: 0.24rem;
	left: 0.24rem;
}
.top p{
	font-size:0.4rem;
	color: #fff; 
}
.yhk{
	width: 7.02rem;
	height: 1.15rem;
	margin: 0.24rem;
	background: #3ee7a4;
	border-radius: 0.1rem;
	color: #fff;
	overflow: hidden;
}
.yhk h4{
	font-size: 0.26rem;
	margin-left: 0.9rem;
	margin-top: 0.15rem;
}
img{
	width: 7.5rem;
	height: 10.52rem;
	position: fixed;
	bottom: 0;
	left: 0;
}